<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="error_message">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li class="error_detail"><%= msg %></li>
    <% end %>
    </ul>
    <br>
  </div>
<% end %>
