<footer class="u-marginTop30 u-marginTop50">
  <div class="u-maxWidth1040 u-marginAuto u-paddingTop10 u-paddingBottom25 u-xs-paddingLeft20 u-xs-paddingRight20 m-breakWord u-borderTopLightest">
    <div class="u-textAlignCenter">
      © 2017 Group3. All Rights Reserved.
    </div>
  </div>
</footer>