#tel-adress-all-hotel {
  font-size: 12pt;
  span {
    color: red;
    font-style: italic;
  }
}
#star-all-hotel {
  span {
    color: red;
    font-style: italic;
    font-size: 12pt;
    margin-right: 5px;
  }
  .fa-star-yellow {
    color: #fdd22f;
  }
}
