#container-show-hotel{
  // background-color: red;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
}

#container-avatar-rate {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

#avatar-show-hotel{
  width: 480px;
  margin-top: 10px;
  float: left;
}

#title-description-hotel {
  width: 500px;
  float: right;
  h1 {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }
  p{
    span {
      color: red;
      font-style: italic;
    }
  }

  #address-phone {
    font-style: italic;
  }

  .star-hotel {
    .fa-star-yellow {
      color: #fdd22f;
    }
  }

  #description-hotel {
    margin-top: 10px;
  }
}

#rate-show-hotel {
  width: 1000px;
  height: 160px;
  overflow: hidden;
  margin-top: 30px;

  #rate-avg-hotel{
    width: 400px;
    height:160px;
    float: left;

    #rate-sum {
      text-align: center;
      font-size: 30pt;
      line-height: 20px;
      font-style: bold;
      color:red;
    }

    #rate-count {
      text-align: center;
      font-size: 20pt;
    }
  }

  #rate-detail-hotel {
    width: 600px;
    height: 160px;
    float: right;
    ul {
      margin-top: 10px;
    }

    .fa-star {
      float: left;
      margin-right: 5px;
    }

    span {
      float: left;
      padding-right: 5px;
      padding-left: 2px;
      margin-top: -4px;
    }
    .bar {
      float:left;
      height: 19px;
      width: 3%;
      p {
        margin-top: -3px;
        padding-left: 3px;
      }
    }

    .bar-5 {
      background-color: #88b131;
    }

    .bar-4 {
      background-color: #99cc00;
    }

    .bar-3 {
      background-color: #ffcf02;
    }

    .bar-2 {
      background-color: #ff9f02;
    }

    .bar-1 {
      background-color: #ff6f31;
    }

    .clearfix {
      clear:both;
    }
  }

}

#reviews-hotel {
  width: 1000px;
  margin-top: 40px;
  border-top: solid 1px;
  #title-bt-new-review{
    height: 50px;
    #title-review-rl {
      float: left;
      margin-top: 15px;
    }
    #bt-new-review {
      float: right;
      margin-top: 20px;
      margin-right: 50px;
      .myButton {
        background-color:#44c767;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        border-radius:20px;
        border:1px solid #18ab29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:10px 25px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
      }
      .myButton:hover {
        background-color:#5cbf2a;
      }
      .myButton:active {
        position:relative;
        top:1px;
      }

    }
  }
}

